*{
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/assets/background.png");
    background-size:cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.profile-box{
    background-color: #ff574a;
    color:#fff;
    border-radius: 20px;
    text-align: center;
    padding: 40px 90px;
    width: 430px;
    height: 447px; 
    font-size: 16px;
    font-family: sans-serif;
}

.menu-button{
    display: flex;
    justify-content: space-between;
    margin-right: -50px;
    margin-left: -50px;
    margin-top: 20px;
}

.menu-icon{
    width:25px;
    height: 20px;
}

.setting-icon{
    width:25px;
    height: 25px;
}
.profile-pic{
    border-radius:50%;
    width:150px;
    height: 150px;
    padding: 6px;
    margin-top: 20px;
    
}

.intro{
    margin-top: 20px;
}

.social-media{
    margin-top:30px;
    /* display:flex;
    align-items: center;
    justify-content: center; */
}

.social-media img{
    width:20px;
    cursor: pointer;
}